/* custom css style */

/*-- scss:defaults --*/

/*-- scss:rules --*/

.sensor-parent {
  margin-top: 4em;
  margin-bottom: 1.5em;
  color: #34495e;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.sensor {
  display: inline-block;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 1;
      grid-column-start: 1;
  white-space: nowrap;
  position: relative;
}

.sensor-edge {
  border: 1px solid gray;
}

.sensor-fill {
  display: none;
}

.sensor-edge:hover {
  border-width: 1.5px;
  border-style: dashed;
  pointer-events: auto;
}

.sensor-fill:hover {
  display: block;
  opacity: 0.3;
}

.label, 
.category {
  position: absolute;
  left: 0;
  display: none;
}

.label {
  top: -3.6em;
  font-size: 1rem;
  font-weight: 600;
}

.category {
  top: -2.2em;
  font-size: 0.9rem;
}

.sensor:hover .label,
.sensor:hover .category {
  display: block;
}

.highlight {
  font-size: 0.85rem;
  color: white;
  border-radius: 4px;
  margin-right: 4px;
  padding: 2px 5px;
}

table {
  font-size: 0.9rem;
}
